.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

header {
  background-color: #1a1a1a;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

footer {
  background-color: #1a1a1a;
  padding: 10px 0;
  border-top: 1px solid #444;
  width: 100%;
  color: #fff;
  position: relative;
  margin-top: auto;
}
